<script type="text/javascript">
$(function(){
	$("#entretain_location,#entretain_title").SelectExpand();
});
</script>

<%= form_for(@entretain,:html=>{:class=>"entretain_form"}) do |f| %>
<div class="order_number">
  <table class="grid_order">
    <tbody>
      <tr height="35">
        <td class="td01">所属项目：</td>
        <td>
          <%= f.select :title, option_for_select(Entretain::TITLE) %>
        </td>
      </tr>
      <tr height="35">
        <td class="td01">文件标号：</td>
        <td>
	    <%= f.text_field :num,value: "宴请-#{Date.today.to_s}-#{rand(10000)}" %>
        </td>
      </tr>
      
      <tr height="35">
        <td class="td01">宴请地点：</td>
        <td>
          <%= f.select :location, option_for_select(Entretain::LOCATION)%>
        </td>
      </tr>


      <tr height="35">
        <td class="td01">宴请费用：</td>
        <td>
          <%= f.text_field :fee%>
        </td>
      </tr>


      <tr height="35">
        <td class="td01">审批者：</td>
        <td>
        <%#=f.hidden_field :reporter_id,:value=>current_user.id%>
        <%if current_user.role.to_i==100%>
          <%=f.hidden_field :reporter_id,:value=>current_user.id%>
          <%= f.select :last_reporter_id, Entretain.last_report_user(current_user) %>
        <%else%>
         <%= f.select :reporter_id, Entretain.report_user(current_user) %> -------> 
          <%= f.select :last_reporter_id, Entretain.last_report_user(current_user) %>
          <%end%>
        </td>
      </tr>
      
      <tr height="35">
        <td class="td01"><b></b>附件：</td>
        <td>
          <%= f.file_field :attache %>
        </td>
      </tr>
      
      <tr height="35">
        <td class="td01"><b></b>说明：</td>
        <td>
          <%= kindeditor_tag :content %>
        </td>
      </tr>

      <tr height="35">
        <td class="td01"></td>
        <td >
          <%= f.submit '提交'%>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<% end %>
<script type="text/javascript">
$(document).ready(function(){
   
            jQuery('.entretain_form').validate({
 
                rules: {
                    "entretain[title]": {
                        minlength: 2,
                        required: true
                    },
                    "entretain[location]": {
                        minlength: 2,
                        required: true
                    } ,
                    "entretain[fee]": {
                        minlength: 2,
                        number: true,
                        required: true
                    }
                },

            

                submitHandler: function (form) {
                //alert(111)
                	$(form).submit();
                   // success1.show();
                    //error1.hide();
                }
            });
});
</script>



