
<%= form_for(@entretain) do |f| %>
<div class="order_number">
  <table class="grid_order">
    <tbody>
      <tr height="35">
        <td class="td01">标题：</td>
        <td>
          <%= f.text_field :title, :size=>50 %>
        </td>
      </tr>
      <tr height="35">
        <td class="td01">文件标号：</td>
        <td>
	    <%= f.text_field :num,value: "宴请-#{Date.today.to_s}-#{rand(10000)}"%>
        </td>
      </tr>
      <tr height="35">
        <td class="td01">审批者：</td>
        <td>
          <%= f.select :reporter_id,Entretain.report_user %>
        </td>
      </tr>
      
      <tr height="35">
        <td class="td01"><b></b>附件：</td>
        <td>
          <%= f.file_field :attache %>
        </td>
      </tr>
      
      <tr height="35">
        <td class="td01"><b></b>内容</td>
        <td>
          <%= kindeditor_tag :content,%q(<table border="1"><tbody><tr><td><p>姓&nbsp;&nbsp;&nbsp;&nbsp;名</p></td><td colspan="4"><p><br></p></td><td colspan="2"><p>职务</p></td><td colspan="4"><p><br></p></td><td colspan="4" rowspan="2"><p>招待事由</p></td><td colspan="9" rowspan="2"><p><br></p></td><td rowspan="11"><p>附件</p><p><br></p><p>张</p></td></tr><tr><td><p>部&nbsp;&nbsp;&nbsp;门</p></td><td colspan="10"><p><br></p></td></tr><tr><td><p>招待对象</p></td><td colspan="2"><p><br></p></td><td colspan="5"><p>招待人数</p></td><td colspan="7"><p>客人&nbsp;&nbsp;&nbsp;人，陪同&nbsp;&nbsp;&nbsp;人</p></td><td colspan="3"><p>备注</p></td><td colspan="6"><p><br></p></td></tr><tr><td rowspan="2"><p>日&nbsp;&nbsp;&nbsp;期</p></td><td colspan="2" rowspan="2"><p>招待地点</p></td><td colspan="3" rowspan="2"><p>餐饮费</p></td><td colspan="2" rowspan="2"><p>住宿费</p></td><td colspan="2" rowspan="2"><p>礼品礼金</p></td><td colspan="2" rowspan="2"><p>其他费用</p></td><td colspan="12"><p>金额合计</p></td></tr><tr><td colspan="2"><p>十</p></td><td colspan="2"><p>万</p></td><td><p>千</p></td><td colspan="2"><p>百</p></td><td colspan="2"><p>十</p></td><td><p>元</p></td><td><p>角</p></td><td><p>分</p></td></tr><tr><td><p><br></p></td><td colspan="2"><p><br></p></td><td colspan="3"><p><br></p></td><td colspan="2"><p><br></p></td><td colspan="2"><p><br></p></td><td colspan="2"><p><br></p></td><td colspan="2"><p><br></p></td><td colspan="2"><p><br></p></td><td><p><br></p></td><td colspan="2"><p><br></p></td><td colspan="2"><p><br></p></td><td><p><br></p></td><td><p><br></p></td><td><p><br></p></td></tr><tr><td><p><br></p></td><td colspan="2"><p><br></p></td><td colspan="3"><p><br></p></td><td colspan="2"><p><br></p></td><td colspan="2"><p><br></p></td><td colspan="2"><p><br></p></td><td colspan="2"><p><br></p></td><td colspan="2"><p><br></p></td><td><p><br></p></td><td colspan="2"><p><br></p></td><td colspan="2"><p><br></p></td><td><p><br></p></td><td><p><br></p></td><td><p><br></p></td></tr><tr><td><p><br></p></td><td colspan="2"><p><br></p></td><td colspan="3"><p><br></p></td><td colspan="2"><p><br></p></td><td colspan="2"><p><br></p></td><td colspan="2"><p><br></p></td><td colspan="2"><p><br></p></td><td colspan="2"><p><br></p></td><td><p><br></p></td><td colspan="2"><p><br></p></td><td colspan="2"><p><br></p></td><td><p><br></p></td><td><p><br></p></td><td><p><br></p></td></tr><tr><td><p>金额</p><p>（大写）</p></td><td colspan="9"><p><br></p></td><td colspan="2"><p>合计</p></td><td colspan="2"><p><br></p></td><td colspan="2"><p><br></p></td><td><p><br></p></td><td colspan="2"><p><br></p></td><td colspan="2"><p><br></p></td><td><p><br></p></td><td><p><br></p></td><td><p><br></p></td></tr><tr><td colspan="2"><p>财务审批</p></td><td colspan="2"><p>部门主管审批</p></td><td colspan="5"><p>财务复核</p></td><td colspan="4"><p>部门经理审核</p></td><td colspan="7"><p>经办人签名</p></td><td colspan="4"><p>报销人签名</p></td></tr><tr><td colspan="2"><p><br></p></td><td colspan="2"><p><br></p></td><td colspan="5"><p><br></p></td><td colspan="4"><p><br></p></td><td colspan="7"><p><br></p></td><td colspan="4"><p><br></p></td></tr></tbody></table><div style="left: 0px ! important; top: 0px ! important; width: 1008px ! important; height: 375px ! important; border-radius: 0px ! important; box-shadow: 0px 0px 2px 2px highlight ! important;" class="firebugResetStyles firebugBlockBackgroundColor"><div style="width: 100% ! important; height: 100% ! important; background-color: transparent ! important; opacity: 0.6 ! important;" class="firebugResetStyles"></div></div>) %>
        </td>
      </tr>

      <tr height="35">
        <td class="td01"></td>
        <td >
          <%= f.submit '提交'%>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<% end %>



