<%=@entretain.user.try(:name)%>,您好：<br/>

    <%=@entretain.user.try(:name)%>申请的宴请内容已经被<%=@entretain.report_user.name%>和<%=@entretain.last_report_user.try(:name)%> 审阅。<br/>

    文件标号：<%= @entretain.num %> <br/>
    所属项目：<%= @entretain.title%> <br/>
    用餐费用：<%= @entretain.fee%> <br/>
    内容：<%=raw @entretain.content%> <br/>
    审阅结果：<%=@entretain.aasm_state%><br/>
    
    <h3>
     <a href="<%=@url%>/entretains/<%=@entretain.id%>">查看和打印</a> 

    </h3>