<%=@entretain.report_user.try(:name)%>,您好：<br/>

    <%=@entretain.user.try(:name)%>申请的宴请内容，请您审阅：<br/> <br/>


    文件标号：<%= @entretain.num %> <br/>
    所属项目：<%= @entretain.title%> <br/>
    用餐费用：<%= @entretain.fee%> <br/>
    内容：<%=raw @entretain.content%> <br/>


    <h3><br/>
     <a href="<%=@url%>/entretains/<%=@entretain.id%>/auddit_from_mail?token=<%=Base64.encode64(@entretain.report_user.email)%>&e=<%=Base64.encode64('accept')%>">同意该申请</a> 

    <a href="<%=@url%>/entretains/<%=@entretain.id%>/auddit_from_mail?token=<%=Base64.encode64(@entretain.report_user.email)%>&e=<%=Base64.encode64('reject')%>">拒绝该申请</a>   
    </h3>