<%=@entretain.user.try(:name)%>,您好：<br/>

    <%=@entretain.user.try(:name)%>申请的宴请内容已经被<%=@entretain.report_user.name%>和<%=@entretain.last_report_user.try(:name)%> 审阅.<br/>
    审阅结果：<%=@entretain.aasm_state%><br/>
    
    <h3>
     <a href="<%=@url%>/entretains/<%=@entretain.id%>">查看</a> 

    </h3>