<%= simple_form_for(@attendance) do |f| %>
  <%= f.error_notification %>


  <div class="form-inputs">

    <%= f.hidden_field :applicant_id, value: current_user.id %>
    <%= f.input :reviewer2_id label: "一级审阅人的RTX Username" do%>
        <%= f.select :reviewer2_id, current_user.leaders.map{|r|[r.name,r.id]}%>
    <%end%>
    <%#= f.input :reviewer2_id %>
    <%= f.input :leave_kind, label: "请假类型" do %>
      <%= f.select :leave_kind, Attendance.options_for_leave_kinds%>
    <% end %>
    <%= f.input :leave_excuse, label: "请假理由" %>
    <%= f.date_select :start_at %>
    <%= f.date_select :end_at %>
  </div>

  <div class="form-actions" data-tooltip class="has-tip" title="提交按钮（这个是tooltip)" >
    <%= f.button :submit %>
  </div>
<% end %>
<script>
  $(function(){
    $('#attendance_start_at').datepicker({dateFormat: 'yy-mm-dd'})
    $('#attendance_end_at').datepicker({dateFormat: 'yy-mm-dd'})
  })
</script>

