<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>采购部办公自动化系统</title>
		  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= yield :header %>
	</head>
	<body>
		<div id="wapper">
			<div id="head">
				<div class="top_menu">
					
					<% if current_user %>
                       登录为<a href=""><%= current_user.name %>
					<!-- <a href="">修改密码</a> -->
					<%= link_to "修改密码", edit_user_registration_path %>
					<%=link_to '退出',destroy_user_session_path%>
					<%else %>
					  <div class="top_menu"><a href="/users/sign_in">登录</a><a href="/users/sign_up">注册</a></div>
					<% end -%>
				</div>
				<div class="logo">
					<%= link_to "采购部办公自动化系统", root_path %>
				</div>
			</div>
			<div id="middle">
				<%= render '/layouts/navigation_links' %>
				<div id="css_mainbody">
					<%= yield %>
				</div>
				<div class="clear"></div>
			</div>
		
		</div>

	</body>
</html>
