<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ansible" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ansible" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!--[if (lt IE 9) & (!IEMobile)]>
    <%= javascript_include_tag 'respond.js' %>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div id="nav" class="right">
        <%= link_to_unless_current "English", locale: "en" %>
        <%= link_to_unless_current "中文", locale: "zh-CN" %>
      </div>
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
